Node_RED/Node_RED_schema.txt
[{"id":"bfe4bf39.0cdd9","type":"http in","z":"4f4d40aa.c2068","name":"Sensor message","url":"/sensor-message","method":"post","swaggerDoc":"","x":625.1111450195312,"y":184.22222995758057,"wires":[["164e93a6.f3ed6c"]]},{"id":"164e93a6.f3ed6c","type":"switch","z":"4f4d40aa.c2068","name":"Parse action ID","property":"req.body.action_id","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"else"}],"checkall":"true","outputs":7,"x":681.0555419921875,"y":414.99999618530273,"wires":[["b56e794.5b02e88"],["b56e794.5b02e88","59a8f663.501348"],["b56e794.5b02e88","9496dafe.782ac8"],["b56e794.5b02e88"],["b56e794.5b02e88"],["6310f5ae.b688fc"],["79b310e3.335b7"]]},{"id":"92258076.6426b","type":"http request","z":"4f4d40aa.c2068","name":"Send to backend","method":"GET","ret":"txt","url":"","tls":"","x":1149.1111755371094,"y":148.22222900390625,"wires":[["79b310e3.335b7"]]},{"id":"75689fec.8fd7b","type":"http request","z":"4f4d40aa.c2068","name":"Send downstream","method":"POST","ret":"txt","url":"","tls":"","x":1132.361099243164,"y":351.77777671813965,"wires":[["79b310e3.335b7"]]},{"id":"b56e794.5b02e88","type":"function","z":"4f4d40aa.c2068","name":"Prepare Message URL","func":"msg.url = \"http://medicaldatamanagerweb.azurewebsites.net/api/Actions/OnActionReceive\";\nmsg.url += \"?actionId=\" + msg.req.body.action_id;\nmsg.url += \"&payload=\" + msg.req.body.payload;\nmsg.url += \"&timeStamp=\" + msg.req.body.time;\nmsg.url += \"&devGuid=\" + msg.req.body.dev_eui;\nreturn msg;","outputs":1,"noerr":0,"x":880.944465637207,"y":145.3333396911621,"wires":[["92258076.6426b","b71e17c2.950ed8"]]},{"id":"6310f5ae.b688fc","type":"function","z":"4f4d40aa.c2068","name":"Prepare Time Sync","func":"msg.url = \"https://proxy1.lpn.swisscom.ch/thingpark/lrc/rest/downlink/?FPort=1\";\nmsg.url += \"&DevEUI=\" + msg.req.body.dev_eui;\n\nvar date = new Date(msg.req.body.time);\nux = date.getTime();\nuxhex = ux.toString(16);\n\nwhile(uxhex.length < 16) {\n    uxhex = \"0\" + uxhex;\n}\n\nmsg.url += \"&Payload=ff\" +  uxhex;\nreturn msg;","outputs":1,"noerr":0,"x":895.3333282470703,"y":381.88891983032227,"wires":[["75689fec.8fd7b"]]},{"id":"79b310e3.335b7","type":"http response","z":"4f4d40aa.c2068","name":"","x":1333.2222328186035,"y":426.66666984558105,"wires":[]},{"id":"89edd28f.d2988","type":"e-mail","z":"4f4d40aa.c2068","server":"smtp.live.com","port":"587","name":"","dname":"Send mail","x":1375.8334007263184,"y":477.00003814697266,"wires":[]},{"id":"fe65ccd1.acb3e","type":"http request","z":"4f4d40aa.c2068","name":"Get information about person","method":"GET","ret":"txt","url":"","tls":"","x":836.1110992431641,"y":563.6110992431641,"wires":[["ba182c73.59c62","369c98c5.68ecf8"]]},{"id":"76ac0a63.8e4214","type":"http request","z":"4f4d40aa.c2068","name":"Get Plan","method":"GET","ret":"txt","url":"","tls":"","x":1123.722282409668,"y":219.3888921737671,"wires":[["8f8671c2.da9e"]]},{"id":"59a8f663.501348","type":"function","z":"4f4d40aa.c2068","name":"Prepare person information URL","func":"msg.url = \"http://medicaldatamanagerweb.azurewebsites.net/api/Actions/OnAlarmReceived/\"\nmsg.url += \"?payLoad=\" + msg.req.body.payload\n\nreturn msg;","outputs":1,"noerr":0,"x":803.5,"y":649.5,"wires":[["fe65ccd1.acb3e","78cfc90c.653f28"]]},{"id":"67f43088.19001","type":"function","z":"4f4d40aa.c2068","name":"Get Strings","func":"var strings = msg.payload.split(\",\");\nmsg.name = \"\";\nmsg.surname = \"\";\nif (strings[0] && strings[0].trim()) {\n    msg.name = strings[0].trim();\n}\nif (strings[1] && strings[1].trim()) {\n    msg.surname = strings[1].trim();\n}\nif (strings[2] && strings[2].trim()) {\n    msg.phone= strings[2].trim();\n}\nif (strings[3] && strings[3].trim()) {\n    msg.email = strings[3].trim();\n}\nif (strings[4] && strings[4].trim()) {\n    msg.email = strings[4].trim();\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1077.833366394043,"y":625.3888683319092,"wires":[["a08d9483.9428f8"]]},{"id":"a08d9483.9428f8","type":"function","z":"4f4d40aa.c2068","name":"Get mail data","func":"if (!msg.email) {\n    return null\n}\n\nmsg.to = msg.email\nmsg.topic = msg.name + \" \" + msg.surname + \" braucht Ihre Hilfe!\"\nmsg.payload = msg.name + \" \" + msg.surname + \" braucht Ihre Hilfe!\"\n\nreturn msg;","outputs":"1","noerr":0,"x":1294.0555000305176,"y":624.8333139419556,"wires":[["89edd28f.d2988"]]},{"id":"9496dafe.782ac8","type":"function","z":"4f4d40aa.c2068","name":"Prepare get plan URL","func":"msg.url = \"http://medicaldatamanagerweb.azurewebsites.net/api/Actions/OnRequestCompartmentMedPlan\";\nmsg.url += \"?deviceId=\" + msg.req.body.dev_eui;\npayload = msg.req.body.payload;\nidhex = payload.substring(2,4);\nmsg.url += \"&compartmentId=\" + parseInt(idhex,16);\nreturn msg;","outputs":1,"noerr":0,"x":884.1111221313477,"y":202.83333110809326,"wires":[["76ac0a63.8e4214","dde6586d.3a4e68"]]},{"id":"8f8671c2.da9e","type":"function","z":"4f4d40aa.c2068","name":"Prepare send plan URL","func":"msg.url = \"https://proxy1.lpn.swisscom.ch/thingpark/lrc/rest/downlink/?FPort=1\";\nmsg.url += \"&DevEUI=\" + msg.req.body.dev_eui;\npayload = msg.payload.replace('\"','').replace('\"','');\nmsg.url += \"&Payload=FF\" +  payload;\nreturn msg;","outputs":1,"noerr":0,"x":1231.5000228881836,"y":278.50000286102295,"wires":[["75689fec.8fd7b","dd5f4888.090df8"]]},{"id":"ba182c73.59c62","type":"ifttt out","z":"4f4d40aa.c2068","eventName":"pill_alarm","key":"3f83a807.f1c748","x":1185.5000228881836,"y":501.75000858306885,"wires":[]},{"id":"b71e17c2.950ed8","type":"debug","z":"4f4d40aa.c2068","name":"","active":true,"console":"false","complete":"url","x":1106.250015258789,"y":32.5,"wires":[]},{"id":"dde6586d.3a4e68","type":"debug","z":"4f4d40aa.c2068","name":"","active":true,"console":"false","complete":"url","x":920,"y":295,"wires":[]},{"id":"dd5f4888.090df8","type":"debug","z":"4f4d40aa.c2068","name":"","active":true,"console":"false","complete":"url","x":1381.25,"y":162.5,"wires":[]},{"id":"78cfc90c.653f28","type":"debug","z":"4f4d40aa.c2068","name":"","active":true,"console":"false","complete":"url","x":1003.75,"y":750,"wires":[]},{"id":"369c98c5.68ecf8","type":"ifttt out","z":"4f4d40aa.c2068","eventName":"send_mail","key":"3f83a807.f1c748","x":1025.5,"y":476,"wires":[]},{"id":"3f83a807.f1c748","type":"ifttt-key","z":"4f4d40aa.c2068"}]